@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');

*{
    
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sansita', sans-serif;
    
}

.bgcolor{
    background-color: black;
}


header{
 
    height:700px;
    background-image: url("C:/Users/Shruthi/Downloads/blackblue.jpg");
    background-size: cover;
    background-color: rgba(0,0,0,0.1);
    background-blend-mode: multiply;
    
}


a:link{

    text-decoration: none;
}

a:hover{

    text-decoration: none;
}


.nav{
    
    height: 85px;
    background-color: rgba(0,0,0,0.4);
 
}
.top{

    
   
    width:900px;
    text-align: right;
    float:right;
    
   
}

.logo{
     
    float: left;
    width:200px;
    margin-left: 80px;
   
}


.logo1{
     
     margin-left: 80px;
     height:79px;
}

.logo2{
    height: 200px;
    margin-left: 565px;
    margin-top: 50px;
    border-radius: 50%;
}


li{
    
    display: inline-block;
    font-size: large;
    margin-top: 19px;
    margin-right: 15px;
    color:white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left:20px;
    margin-bottom: 10px;
}

li:hover{

       color:#FAFCDB;
       

}

.book{
    
    color:white;
    margin-right: 180px;
    background-color: #492645;
    box-shadow: 5px 5px 5px rgb(43, 41, 41);



}

.book:hover{
    
    color:white;
    background-color:#734488;
}

.evma{
        
    color: #9FEBEB;
    font-size: 80px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 265px;
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
    font-family: 'Sansita', sans-serif;
      
    }

.aboutus{
    font-size: 60px;
    text-align: center;
    opacity: 0.9;
    margin-top: 10px;
    font-family: 'Kameron', serif;
    color: #FAFCDB;
    
}    




.mtpp{
    font-family: 'Sansita', sans-serif;
    text-align: center;
    margin-top: -1020px;
    font-size: 40px;
    color:#9febebe3;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.726);
    font-weight: lighter;
}





.aboutp{
    text-align:center;
    font-size: 25px;
    padding-left: 140px;
    padding-right: 140px;
    color: #ffffff;
    font-family: 'Sansita', sans-serif;
    padding-top: 360px;
}
.abtsha{
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
    
}

.flrbg{
    height: 1250px;
    width: 1519px;
    margin-top: 800px;
 
}

.rect{
    width: 1519px;
    height: 1170px;
    margin-top: -1360px;
    padding-top: 60px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom: 780px;
    margin-bottom: 30px;
    border-top-left-radius: 13% ;
    border-top-right-radius: 13% ;
}

.rect1{
    width: 1519px;
    height: 1170px;
    margin-top: -1400px;
    padding-top: 410px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 420px;
    margin-bottom: 30px;
}

.rect2{
    width: 1519px;
    height: 1170px;
    margin-top: -1360px;
    padding-top: 770px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 80px;
    margin-bottom: 30px;
    border-bottom-left-radius: 13%;
    border-bottom-right-radius: 13%;
}

.izhaan{
     
    border-radius: 50%;
    position: relative;
    top: -1080px;
    margin-left: 170px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.726);
    
}

.izhaanp{
   font-family: 'Sansita', sans-serif;
   font-size: 20px;
   text-align: left;
   padding-left: 430px;
   padding-right: 70px;
   margin-right: 50px;
   margin-left: 30px;
   margin-top: -1300px;
   color:#492645;
   text-shadow: 2px 2px 2px rgba(138, 138, 138, 0.5);
}

.varshini{
    
   border-radius: 50%;
   position: relative;
   top: 190px;
   margin-left: 1100px;
   box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.726);
   
}

.varshinip{
  font-family: 'Sansita', sans-serif;
  font-size: 20px;
  text-align: left;
  padding-right: 410px;
  padding-left: 130px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: -40px;
  color:#492645;
  text-shadow: 2px 2px 2px rgba(138, 138, 138, 0.5);
}

.shreenithi{
     
    border-radius: 50%;
    position: relative;
    top: 170px;
    margin-left: 170px;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.726);
    
}

.shreenithip{
    font-family: 'Sansita', sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 430px;
    padding-right: 70px;
    margin-right: 50px;
    margin-left: 30px;
    margin-top: -40px;
    padding-top: -300px;
    color:#492645;
    text-shadow: 2px 2px 2px rgba(138, 138, 138, 0.5);
}

.content{
    margin-top: -60px;
    
}

.meet{
    color:#734488;
    font-family: 'Sansita', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: -1070px;
    text-decoration: underline;
    text-shadow: rgb(43, 43, 43);
}

.span{
    text-decoration-line: underline;
}


.foot{
    
    position: relative;
    z-index: 1;
    height:250px;
    background-color:#492645 ;
    box-shadow: 0px 0px 20px 10px;
    

}

.contactlst{

    background-color: rgba(158, 235, 235, 0.8);
    height:250px;
    width:620px;
    position:relative;
    bottom:40px;
    left:40px;
    box-shadow: 0px 0px 30px 0px ;
    border: 2px solid  #734488;

}

.rect0{
    width: 1519px;
    height: 400px;
    margin-top: 0px;
        
}

.aboutus,.abtsha,.aboutp{
    margin-top: -360px;
}

.patch{
    width: 1519px;
    height: 100px;
    
}